

<div>
    <h2>v1.3.0</h2>
    <ul>
        <li><input type="checkbox" checked disabled> config.earth.material <a  href="javascript:void(0);" data-href="/reference/property/#configearth">earth</a> 新增材质的配置</li>
    </ul>
    <h2>v1.2.7</h2>
    <ul>
        <li><input type="checkbox" checked disabled> config.enableZoom <a  href="javascript:void(0);" data-href="/reference/property/#configenablezoom">enableZoom</a>是否允许滚轮放大缩小</li>
    </ul>
<h2>v1.2.6</h2>
<ul>
    <li><input type="checkbox" checked disabled> 新增 road 功能路线模块。 请参考 <a  href="javascript:void(0);" data-href="/reference/property/#configroadstyle">roadStyle</a>以及<a  href="javascript:void(0);" data-href="/reference/methods">addData</a></li>
</ul>
<h2>v1.2.5</h2>
<ul>
    <li>🐞 修复remove移除模块不生效的问题</li>
</ul>
<h2>v1.2.4</h2>
<ul>
    <li>🐞 优化项目内部代码，以及更新注释</li>
</ul>
<h2>v1.2.3</h2>
<ul>
    <li><input type="checkbox" checked disabled> 新增光圈大小和是否展示配置 请参考 <a  href="javascript:void(0);" data-href="/reference/property/#configspritestyle">spriteStyle</a></li>
    <li><input type="checkbox" checked disabled> 新增销毁实例方法 请参考<a  href="javascript:void(0);" data-href="/reference/methods/#destory">destory</a></li>
</ul>
<h2>v1.2.0</h2>
<ul>
    <li>🐞 解决scatterStyle.size 不生效问题</li>
    <li><input type="checkbox" checked disabled> 取消spriteColor参数，新增spriteStyle参数</li>
    <li><input type="checkbox" checked disabled> 新增options.limitFps参数，遇到性能问题锁定帧数为30帧<a  href="javascript:void(0);" data-href="/reference/property/#optionslimitfps">查看</a></li>
    <li><input type="checkbox" checked disabled> 可在地图自定义标记物,用户可以自己设计图片并标记到地图上 <a  href="javascript:void(0);" data-href="/reference/property/#configscatterstylecustomfigure">查看</a></li>
    <li><input type="checkbox" checked disabled> 移除bgColor,新增bgStyle属性 <a  href="javascript:void(0);" data-href="/reference/property/#configbgstyle">查看</a></li>
</ul>
<h2>v1.1.0</h2>
<ul>
    <li><input type="checkbox" checked disabled> options.config.stopRotateByHover</li>
</ul>
<h2>v1.0.0</h2>
<ul>
    <li><input type="checkbox" checked disabled> 地图支持鼠标hover高亮</li>
    <li><input type="checkbox" checked disabled> 地图区域支持自定义颜色</li>
    <li><input type="checkbox" checked disabled> 支持2D地图渲染和飞线高亮等功能</li>
    <li><input type="checkbox" checked disabled> 支持地球贴图</li>
    <li><input type="checkbox" checked disabled> 支持单独增删涟漪模块 以及涟漪模块颜色大小等配置</li>
    <li><input type="checkbox" checked disabled> 支持飞线更多的配置如速度，循环次数等</li>
</ul>

</div>
